# Initial clean

In [1]:
!pip install xlrd
import pandas as pd

Requirement already satisfied: xlrd in c:\users\antdo\anaconda3\lib\site-packages (2.0.1)

In [2]:
import numpy as np

In [3]:
data = pd.read_excel("GSAF5.xls")

In [4]:
df = data.copy()

In [5]:
df.columns = df.columns.str.lower().str.replace(" ","_").str.replace(".","_").str.replace(":","")

In [6]:
df.dropna(how="all",inplace=True)

In [7]:
df.rename(columns={"species_":"species","unnamed_11":"deadly_attack"}, inplace=True)

# Columns cleaning

In [8]:
df = df.drop(['date','source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number_1',
       'original_order', 'unnamed_21', 'unnamed_22', "age", "name", "location","injury","species"], axis=1)

In [9]:
df.dropna(how="all",inplace=True)

### Year

In [10]:
df["year"].isnull().sum()

2

In [11]:
df["year"].sample(10)

1275    2013.0
4852    1956.0
5755    1927.0
6463    1878.0
1572    2010.0
505     2019.0
3619    1981.0
5404    1939.0
4781    1958.0
1915    2007.0
Name: year, dtype: float64

In [12]:
df["year"] = df["year"].astype("Int64")

In [13]:
df["year"].sample(4)

1682    2009
106     2023
3563    1983
3157    1992
Name: year, dtype: Int64

In [14]:
df.dropna(subset=["year"], inplace=True) #Explote the nulls

In [15]:
df["year"].isnull().sum()

0

### Type

In [16]:
df["type"].unique()

array(['Provoked', 'Unprovoked', 'Questionable', 'Watercraft',
       'Sea Disaster', nan, '?', 'Unconfirmed', 'Unverified', 'Invalid',
       'Under investigation', 'Boat'], dtype=object)

In [17]:
df["type"].fillna("Unknown", inplace=True)

In [18]:
df["type"].value_counts()

type
Unprovoked             5098
Provoked                635
Invalid                 551
Watercraft              355
Sea Disaster            242
Questionable             22
Unknown                  18
Boat                      7
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [19]:
type_map = {"Unprovoked":"Unprovoked",
            "Provoked":"Provoked",
            "Invalid":"Unknown",
            "Questionable":"Unknown",
            "Unknown":"Unknown",
            "?":"Unknown",
            "Unconfirmed":"Unknown",
            "Unverified":"Unknown",
            "Under investigation":"Unknown",
            "Sea Disaster":"Sea Disaster",
            "Watercraft":"Sea Disaster",
            "Boat":"Sea Disaster"
            }

In [20]:
df["type"] = df["type"].map(type_map)

In [21]:
df["type"].value_counts()

type
Unprovoked      5098
Provoked         635
Sea Disaster     604
Unknown          595
Name: count, dtype: int64

In [22]:
df.isnull().sum()

year                0
type                0
country            50
state             482
activity          585
sex               579
deadly_attack     560
time             3521
dtype: int64

### Country

In [23]:
df["country"] = df["country"].str.upper().str.strip()

In [24]:
#Don't use replace! instead use lambda for no more duplicates

#df["country"] = df["country"].str.replace("ASIA?","ASIA")
df["country"] = df["country"].apply(lambda x: "ASIA" if x == "ASIA?" else x)
#df["country"] = df["country"].str.replace("COLUMBIA","COLOMBIA")
df["country"] = df["country"].apply(lambda x: "COLOMBIA" if x == "COLUMBIA" else x)
#df["country"] = df["country"].str.replace("INDIAN OCEAN?","INDIAN OCEAN")
df["country"] = df["country"].apply(lambda x: "INDIAN OCEAN" if x == "INDIAN OCEAN?" else x)
#df["country"] = df["country"].str.replace("OKINAWA","JAPAN")
df["country"] = df["country"].apply(lambda x: "JAPAN" if x == "OKINAWA" else x)
#df["country"] = df["country"].str.replace("RED SEA?","RED SEA / INDIAN OCEAN")
df["country"] = df["country"].apply(lambda x: "RED SEA / INDIAN OCEAN" if x == "RED SEA?" else x)
#df["country"] = df["country"].str.replace("REUNION","REUNION ISLAND")
df["country"] = df["country"].apply(lambda x: "REUNION ISLAND" if x == "REUNION" else x)
#df["country"] = df["country"].str.replace("SAN DOMINGO","DOMINICAN REPUBLIC")
df["country"] = df["country"].apply(lambda x: "DOMINICAN REPUBLIC" if x == "SAN DOMINGO" else x)
#df["country"] = df["country"].str.replace("ST. MAARTIN","ST. MARTIN")
df["country"] = df["country"].apply(lambda x: "ST. MARTIN" if x == "ST. MAARTIN" else x)
#df["country"] = df["country"].str.replace("SUDAN?","SUDAN")
df["country"] = df["country"].apply(lambda x: "SUDAN" if x == "SUDAN?" else x)
#df["country"] = df["country"].str.replace("TURKS & CAICOS","TURKS AND CAICOS")
df["country"] = df["country"].apply(lambda x: "TURKS AND CAICOS" if x == "TURKS & CAICOS" else x)
#df["country"] = df["country"].str.replace("UNITED ARAB EMIRATES (UAE)","UNITED ARAB EMIRATES")
df["country"] = df["country"].apply(lambda x: "UNITED ARAB EMIRATES" if x == "UNITED ARAB EMIRATES (UAE)" else x)

In [25]:
df["country"].fillna("Unknown", inplace=True)

### State

In [27]:
df["state"].fillna("Unknown", inplace=True)

### Activity

In [33]:
#Code provided by Victor. Thanks mate!

df.loc[df['activity'].str.contains('Swim', case=False, na=False), 'activity'] = 'Swimming'
df.loc[df['activity'].str.contains('Bat', case=False, na=False), 'activity'] = 'Bathing'
df.loc[df['activity'].str.contains('Sur', case=False, na=False), 'activity'] = 'Surf'
df.loc[df['activity'].str.contains('fis' or 'net', case=False, na=False), 'activity'] = 'Fishing'
df.loc[df['activity'].str.contains('div', case=False, na=False), 'activity'] = 'Diving'
df.loc[df['activity'].str.contains('Fell', case=False, na=False), 'activity'] = 'Fell into the water '
df.loc[df['activity'].str.contains('Flo'or 'Treading water', case=False, na=False), 'activity'] = 'Floating '
df.loc[df['activity'].str.contains('Paddle', case=False, na=False), 'activity'] = 'Paddle boarding'
df.loc[df['activity'].str.contains('Jum', case=False, na=False), 'activity'] = 'Jumping'
df.loc[df['activity'].str.contains('Phot' or 'fil', case=False, na=False), 'activity'] = 'Photography and filming'
df.loc[df['activity'].str.contains('Air', case=False, na=False), 'activity'] = 'Air Disaster'
df.loc[df['activity'].str.contains('Feed', case=False, na=False), 'activity'] = 'Feeding a shark'
df.loc[df['activity'].str.contains('cano', case=False, na=False), 'activity'] = 'Canoe'
df.loc[df['activity'].str.contains('Bod', case=False, na=False), 'activity'] = 'Body boarding'

### Sex

In [38]:
sex_map = {"M":"Male",
            "F":"Female",
            "N":"Unknown",
            " M":"Unknown",
            "lli":"Unknown",
            "?":"Unknown",
            "M x 2":"Unknown",
            ".":"Unknown"
            }

In [39]:
df["sex"] = df["sex"].map(sex_map)

In [42]:
df["sex"].fillna("Unknown", inplace=True)

### Deadly Attack

In [47]:
df["deadly_attack"] = df["deadly_attack"].apply(lambda x: "U" if x not in ["Y","N"] else x)

In [49]:
df["deadly_attack"].fillna("U")

0       N
1       N
2       N
3       N
4       Y
       ..
6929    Y
6930    Y
6931    Y
6932    Y
6933    Y
Name: deadly_attack, Length: 6932, dtype: object

### Time

In [52]:
import re

def categories(x):
    if "morning" in str(x).lower() or "dawn" in str(x).lower():
        x = str(600)
    elif "afternoon" in str(x).lower() or "noon" in str(x).lower() or "am" in str(x).lower() or "a.m." in str(x).lower() or "day" in str(x).lower() or "time" in str(x).lower():
        x = str(1200)
    elif "evening" in str(x).lower() or "dusk" in str(x).lower() or "p.m." in str(x).lower() or "sun" in str(x).lower():
        x = str(1800)
    elif "night" in str(x).lower():
        x = str(0)
    x = re.sub('[^0-9]','', str(x)) #re.sub searches for all the instances of pattern in the given string, and replaces them
    if len(x)<4:
        x = "0"+str(x)
    if len(x)>4:
        x = str(x)[:4]
    x = x.replace('h', '')
    return x

df["time"] = df["time"].apply(categories)

In [53]:
def newtime(x):
    
    if int(x) >= 500 and int(x) < 1200:
        x = "Morning"
    elif int(x) >= 1200 and int(x) < 1600:
        x = "Afternoon"
    elif int(x) >= 1600 and int(x) < 2000:
        x = "Evening"
    elif int(x) >= 2000 and int(x) < 3000 or (int(x) >= 0 and int(x) < 500):
        x = "Night"
    return x

df["time"] = df["time"].apply(newtime)

In [56]:
df.isnull().sum()

year             0
type             0
country          0
state            0
activity         0
sex              0
deadly_attack    0
time             0
dtype: int64

## Final filtering and grouping

In [57]:
ordered_columns = ["year","sex","country","state","time","activity","type","deadly_attack"]
ultimate_df = df[ordered_columns]

In [58]:
ultimate_df.head(15)

,year,sex,country,state,time,activity,type,deadly_attack
0,2024,Male,BAHRAIN,Unknown,Night,Fishing,Provoked,N
1,2024,Male,BAHAMAS,Paradise Island,Evening,Swimming,Unprovoked,N
2,2024,Male,AUSTRALIA,South Australia,Afternoon,Surf,Unprovoked,N
3,2024,Male,SOUTH AFRICA,Eastern Cape Province,Night,Fishing,Provoked,N
4,2023,Male,USA,Hawaii,Morning,Surf,Unprovoked,Y
5,2023,Male,MEXICO,Sonora,Afternoon,Diving,Unprovoked,Y
6,2023,Male,AUSTRALIA,South Australia,Afternoon,Surf,Unprovoked,Y
7,2023,Male,AUSTRALIA,New South Wales,Evening,Surf,Unprovoked,N
8,2023,Male,AUSTRALIA,Western Australia,Afternoon,Foil Boarding,Unprovoked,N
9,2023,Female,NEW ZEALAND,South Island,Night,Wading,Unprovoked,N
10,2023,Male,MEXICO,Guerrero,Morning,Swimming,Unknown,Y
11,2023,Female,MEXICO,Guerrero,Morning,Swimming,Unknown,N
12,2023,Male,AUSTRALIA,Queensland,Evening,Snorkeling,Unprovoked,N
13,2023,Female,BAHAMAS,New Providence Isoad,Morning,Paddle boarding,Unprovoked,Y
14,2023,Female,MEXICO,Jalisco,Morning,Swimming,Unprovoked,Y

In [59]:
sharks_1950 = ultimate_df[ultimate_df["year"] >= 1950]

In [60]:
sharks_1950.tail(5)

,year,sex,country,state,time,activity,type,deadly_attack
5113,1950,Unknown,GREECE,Unknown,Night,Swimming,Unprovoked,Y
5114,1950,Male,SINGAPORE,Singapore Harbor,Night,Diving,Unprovoked,Y
5115,1950,Male,NEW CALEDONIA,North Province,Night,Fishing,Unprovoked,N
5116,1950,Male,NEW CALEDONIA,North Province,Night,Diving,Unprovoked,N
5117,1950,Male,FIJI,Unknown,Night,Unknown,Unprovoked,N

In [61]:
sharks_1950_to_2024 = sharks_1950.to_csv()